.bg-color-header{background-color: $color-header;}
.bg-color-transparent{background-color: transparent;}
.position-fixed{position: fixed};
.color-white{color: $color-white;}
.section-padding{padding: 10rem;}
.w-100{width: 100%}
