$color-header:#412FB3;
$color-white:#fff;
$color-text:#3A414E;
$background-color-header:#22195B;
$card-bg-color:#FAF9FF;
$color-header-text-hover:#CAC7DA;
$color-indicator:#D3D2D5;
$color-bg-footer:#0E1424;
$color-footer-text:#797979;
$color-footer-input:#3E4350;

//font sizes
$font-size-title:3rem;
$font-size-navbar:1.2rem;
$font-weight-navbar:700;

$font-size-card-header:2rem;

$font-size-text:1.5rem;
$font-weight-text:400;
$font-icon-size:3rem;
