.section-header{
  
  margin: 10rem 0;
  text-align: center;
  color: $color-text;
  &__title{
    font-size:$font-size-title;
  }
  &__text{
    color:rgba($color-text,.9);
    font-size: $font-size-text;
  }
}


.section-about,
.section-solutions,
.section-testimonials{
  background-color: $card-bg-color;
}
